<h1>Longest word game</h1>

<div class="container">
  <ul> <% @letters.each do |letter| %>
    <li draggable="true"><%= letter.capitalize %></li>
    <% end %>
  </ul>
</div>

<form action="/score" data-turbo="false">
  <label for="answer">Type in the longest word you can find</label>
  <input type="text" name="answer" id="answer"><br>
  <input type="submit" value="p l a y" id="play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
<p id="timer"><%= Time.now %></p>



<%# stimulus drag click down %>
